# 基于 LLVM 风格的修改
BasedOnStyle: LLVM
IndentWidth: 2  # 缩进 2 空格（LLVM 官方默认）
TabWidth: 2     # Tab 宽度
UseTab: Never   # 不使用 Tab，用空格替代
AllowShortFunctionsOnASingleLine: false  # 函数不允许单行
PointerAlignment: Left  # 指针靠近类型（Type* Var）
; BreakBeforeBraces: Attach  # 大括号不会起一行（如函数、if 语句）